/* Settings Page Specific CSS */
.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 400px;
  margin: 15px auto;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.settings-container h2 {
  text-align: center;
  color: #333;
}

.settings-container .form-group {
  display: flex;
  flex-direction: column;
  width: 100%; /* Adjust the input to fill the container */
  margin-bottom: 15px;
}

.settings-container label {
  margin-bottom: 5px;
  color: #555;
  text-align: left;
}

.settings-container input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  margin-bottom: 15px;
  max-width: 380px;
  align-items: center;
}

.settings-container button.settings-submit {
  padding: 10px;
  background-color: #b87e7e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  max-width: 400px;
  align-items: center;
}

.settings-container button.settings-submit:hover {
  background-color: #936868;
  transform: scale(1.01);
}

.settings-container p {
  text-align: center;
  color: #b87e7e;
}
