/* Root styles */
.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('../assets/welcome.jpg'); /* Background Image */
  background-size: 45%; /* Smaller size */
  background-position: left;
  background-position-y: 75;
  background-attachment: local ;
  background-blend-mode: color;
  background-repeat: no-repeat;
  background-color: rgba(128, 128, 128, 0.459); /* Grayish background */
  position: relative;
  overflow: hidden;
}

/* To control the blur effect and make text sharp */
.welcome-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.571); /* Grayish overlay */
}

.box{
  display: flex;
  align-items: center;
  justify-content: center;
}
.empty-box {
  flex: 1;
  z-index: 2;
  position: relative;
  text-align: center;
  color: #ffffff;
}
/* Ensuring the actual content (logo, title, text) is above the background */
.content {
  flex: 1;
  z-index: 2;
  position: relative;
  text-align: center;
  color: #ffffff;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Top navigation with links */
.top-nav {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  padding: 5px 30px;
  margin: 2px;
  gap: 1.5rem;
  z-index: 3; /* Keep links visible */
  align-items: center;

  background-color: rgb(138, 138, 138);
  border-radius: 5px;
}
.top-nav p {
  font-weight: 500;
  color:  rgb(244, 243, 236);
  text-decoration: none;
  font-size: 1.1em;
  padding: 5px 10px;
}

.top-nav a {
  font-weight: 500;
  color:  rgba(255, 255, 255, 0.695);
  text-decoration: none;
  font-size: 1.1em;
  padding: 20px 10px;
  border-radius: 8px;
  transition: background-color 0.5s;
}

.top-nav a:hover {
  color: #ffffff;
  background-color: rgb(115, 114, 114);
}

/* Title styling */
.welcome-title {
  margin: 15px auto;
  font-size: 3em;
  font-weight: 400;
  margin-bottom: 20px;
  color: #5d5151;
  position: right;
}

/* Paragraph under the title */
.welcome-paragraph {
  
  margin: 8px auto;
  font-size: 1.2em;
  color: rgba(236, 235, 228, 0.793);
  max-width: 600px;
  margin-bottom: 40px;
}

