.home {
    margin-top: 40px;
}
h1 ,h2{
    text-align: center;
}
.profile-containers {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto; 
}


.personal-details {
    flex: 1;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: max-content;
    width: auto; /* Adjust width as necessary */
    max-width: 400px; /* Optional: set a maximum width */
    word-wrap: break-word; /* Ensures long words break into the next line */
    white-space: pre-wrap; /* Preserves whitespace and line breaks */
    color: #ffffffd1;
    background-color: #5a5f4ac0;
}